input {
  padding: 8px 16px;
  margin: 1.5rem 0.5rem;
  max-width: 608px;
  max-height: 56px;
  min-width: 270px;
  min-height: 35px;
  width: 38%;

  /* White color */
  background: #fefdff;
  /* Grey/601 */
  border: 0.5px solid #bec2bf;
  border-radius: 16px;
}

input::placeholder {
  /* input your... */

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
}

input:focus {
  outline: none;
}

.floating-label {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-left: .5rem;
  background-color: white;
  position: absolute;
  top: 0px;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input-container {
  position: relative;
  min-height: 60px;
}

/* Style the label when the input is focused */
.floating-label.focused {
  top: 1rem;
  margin-left: 2.5rem;
  font-size: 0.75rem;
  padding: 0 5.4px;
  border-radius: 2px;
  background-color: #ECEDEC;
}

/* Optional: Style the input container when focused */
.input-container.focused input {
  border-color: #1FC625;
}

